@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/***************************************************** */

/* ********Header */

/* .globalHeader {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
}

.innerHeader {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    width: 50%;

}

.links>ul {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    list-style: none;

}

.links-li  {
    text-decoration: none;
}

.mainLogo {
    height: 70%;
}

.searchBar {
    display: flex;
    justify-content: space-between;
}

.fa-user {
    font-size: 1.5rem;
} */

/* end of Header */

/* ************************************* */

/* ********8Main */

/* card */
/* .restaurantList {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0px;
}

.card {
    border: 1px solid black;
    width: 20vw;
    height: 40vh;
    text-align: center;
    margin: auto;

}

.card>img {
    width: 100%;
    padding: 10px;
} */

/* end of Main */

/* ************************************* */

/* ********footer */
/* .footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* end of footer */