* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin: auto;
    width: 80%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 20, 20);

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.fa-digg,
.fa-user {
    font-size: 2.5rem;
    margin-left: 3vw;

}

.searchBar {
    display: flex;
    justify-content: space-between;
}

.searchBar input{
    border: none;
    height: 20px;
    border-radius: 3px;
    padding: 5px;
}

.searchBar button {
    background-color: transparent;
    border: none;
     font-size: 1rem;
     margin-left: 0.2vw;
}



.fa-user {
    font-size: 1.5rem;
    margin-right: 3vw;
}
.titles {
    display: flex ;
    justify-content: space-between;
    text-align: center;
    margin: 4vh auto auto auto;
    width: 70%;
}